@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #3c3c3c;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header{
    width: 960px;
    height: 100px;
    margin: auto; /* centrar caja */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        text-decoration: none;
        font-weight: 600;
        color: #3c3c3c;
    }

    #logo{
        display: flex;
        align-items: center;
    }
        #logo img{
            margin-right: 8px;
        }

    header nav a{
        margin: 6px;
    }